<ion-view view-title="Login">

  <ion-content class="padding" ng-controller="adminchangepassword">
     <style>
         #tlogin{
             
             
             padding-top: 70px;
         }
      
      
      
      </style>
      <ion-nav-bar class="bar-positive" >
      <ion-nav-back-button>
      </ion-nav-back-button>

    </ion-nav-bar>
     <form id="tlogin">
         
     <div class="item item-divider" style="background-color:#2A375C;color:white;text-align:center">Please enter the new password</div>
    <div class="list">
      <label class="item item-input item-stacked-label">
    <span class="input-label"><i class="ion-compose"></i> Password</span>
    <input type="password" placeholder="******" ng-model="tpassword1">
  </label>

  <label class="item item-input item-stacked-label">
    <span class="input-label"><i class="ion-compose"></i> Repeat Password</span>
    <input type="password" placeholder="******" ng-model="tpassword2">
  </label>
<button type="submit" ng-click="change()" class="button button-full button-positive">
 Change
</button>
<button type="submit" ng-click="Forgot()" class="button button-full button-positive">
Back
</button>
</div>
      </form>
 

              
 
  </ion-content>
</ion-view>