<ion-view view-title="Parent Monitoring System" ng-controller="changeadminprofilepassword">
 
  <ion-nav-bar class="bar-positive" >
      <ion-nav-back-button>
      </ion-nav-back-button>

  
    </ion-nav-bar>
  <ion-content class="padding">
      <div class="item item-divider" style="background-color:#2A375C;color:white; margin-top:10px">Please Select a security question</div>
  
    <form style="margin-top:10px" method="post">
               
                 
                 <div class="list">
                
                
                      
                         <label class="item item-input item-select" >

                      <div class="input-label">Security Question</div>
                        <select  ng-model="data.question" ng-options="x.id as x.question for x in question"> 
                          <option ></option>
                        </select>
                    </label>
                 
                    
                      <label class="item item-input item-stacked-label">
                        <span class="input-label">Security Answer</span>
                        <input type="text"  placeholder="Answer" ng-model="data.answer">
                    </label>
                    
                    
                      <label class="item item-input item-stacked-label">
                        <span class="input-label">Password</span>
                        <input type="text"  placeholder="Answer" ng-model="data.password1">
                    </label>
                    
                     <label class="item item-input item-stacked-label">
                        <span class="input-label">Repeat Password</span>
                        <input type="text"  placeholder="Answer" ng-model="data.password2">
                    </label>
        </div>
    <button type="submit" ng-click="continue()" class="button button-full button-positive">
          Continue
</button>     
          
               
                           
                </form>
                
                 
        <button class="button button-full button-positive" ui-sref="adminhome">Back</button>
     
 
  </ion-content>
</ion-view>