<ion-view view-title="Parent Monitoring System" >
 
  <ion-nav-bar class="bar-positive" >
      <ion-nav-back-button>
      </ion-nav-back-button>

  
    </ion-nav-bar>
  <ion-content class="padding" ng-controller="pforgotcontroller">
      <div class="item item-divider" style="background-color:#2A375C;color:white; margin-top:90px">Please enter your Email Adress</div>
  
    <form style="margin-top:10px" method="post">
               
                 
                 <div class="list">
                
                  <label class="item item-input item-stacked-label">
                        <span class="input-label">Email</span>
                        <input type="text"  placeholder="Email" ng-model="data.email">
                    </label>
                      
                      
                         <label class="item item-input item-select" >

                      <div class="input-label">Security Question</div>
                        <select  ng-model="data.question"> 
                          <option  ng-repeat="x in question">{{x.question}}</option>
                        </select>
                    </label>
                 
                    
                      <label class="item item-input item-stacked-label">
                        <span class="input-label">Security Answer</span>
                        <input type="text"  placeholder="Answer" ng-model="data.answer">
                    </label>
        </div>
    <button type="submit" ng-click="continueparent()" class="button button-full button-positive">
          Continue
</button>     
          
               
                           
                </form>
                
                 
        <button class="button button-full button-positive" ng-click="back()">Back</button>
     
 
  </ion-content>
</ion-view>